html {
  font-size: 62.5%; /* 16px x 62.5% = 10px/[rem]*/
  scroll-behavior: smooth;
}

#header {
  height: 100px;
  background-color: yellow;
}

#main {
  width: 1200px;
  margin: auto;
  height: 1000px;
  background-color: palegreen;
}

#footer {
  height: 100px;
  background-color: lightblue;
}

/*startボタン*/
.start_button {
  width: 500px;
  height: 50px;
  margin: auto;

  display: flex;
  align-items: center;
  transform: translate3d(-5%, 0, 0);
}

.start_button-conts {
  width: 120px;
  padding: 10px;
  margin: 0 5px;

  background-color: #fff;
  border-style: none;

  cursor: pointer;
  box-shadow: 5px 5px #b0c4de;
  transition: 0.3s;
}

.start_button-conts:active {
  transform: translate3d(0, 5px, 0);
  /* background-color: #ffb6c1; */

  box-shadow: 1px 1px 0 #000;
}

/* player表示全体 */
.player_wrapper {
  width: 1200px;
  margin: auto;

  display: flex;
  justify-content: center;
}

/* 各playerの個別枠組み */
.player_conts {
  width: 500px;
  height: 500px;
  background-color: #fff;

  margin: 0 50px 0 0;
}

/* playerの名前 */
.player_name {
  height: 50px;
  line-height: 50px;
  text-align: center;

  color: #fff;
  font-weight: bolder;
  font-size: 2.4rem;

  background-color: lightpink;
}

/* playerの画像表示ボックス */
.player_view-wrapper {
  height: 450px;
  width: 400px;
  margin: auto;

  background-color: #afeeee;
}

/* 要みなおし：relativeとabsoluteの基準が変 */
.player1_img_relative {
  position: relative;
}
.player1_img_absolute {
  position: absolute;
  top: 45%;
  left: 35%;
}

.player2_img_relative {
  position: relative;
  object-fit: cover;
}
.player2_img_absolute {
  position: absolute;
  top: 45%;
  left: 90%;
}

/* 
.player_view-wrapper img {
  width: 400px;
  height: 450px;
} */

/* player1のビデオ表示 */
#player1_video {
  width: 400px;
  height: 450px;
}

/* playerの手のボックス */
.player_hand-wrapper {
  height: 80px;
  background-color: #fffacd;
  display: flex;
  justify-content: space-evenly;

  align-items: center;
}

.player_hand-conts {
  display: flex;
  justify-content: space-evenly;
}

/* じゃんけんの手のボタン*/
.player_hand-list {
  text-align: center;
  background-color: #cd5c5c;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bolder;
  padding: 20px 20px;

  cursor: pointer;
  box-shadow: 5px 5px #f4a460;
  transition: 0.3s;

  width: 100px;
  margin: 0 5px;
}

/* じゃんけんの手のボタン（押しているとき）*/
.player_hand-list:active {
  transform: translate3d(0, 5px, 0);
  background-color: #ffb6c1;

  box-shadow: 1px 1px 0 #000;
}
