#header {
  height: 200px;
  background-color: yellow;
}

#main {
  height: 600px;
  background-color: palegreen;
}

#footer {
  height: 100px;
  background-color: lightblue;
}

.player-wrapper {
  width: 1200px;
  margin: auto;

  display: flex;
}

.player-conts {
  width: 500px;
  height: 500px;
  background-color: #fff;

  margin: 0 50px 0 0;
}
